:root,
html[data-theme="light"] {
  --primary-bg: #cccccc;
  --primary-txt: #1a1a1a;

  --secondary-color: #b6b2b2;

  --btn-color: #2c2b2b;
  --btn-hover-txt: #cccccc;

  --red: #79061b;
  --orange: #793c06;
  --yellow: #796406;
  --green: #327906;
  --blue: #067949;
  --indigo: #180679;
  --purple: #590679;
}

html[data-theme="dark"] {
  --primary-bg: #1a1a1a;
  --primary-txt: #cccccc;

  --secondary-color: #2b2b2b;

  --btn-color: #cccccc;
  --btn-hover-txt: #1a1a1a;

  --red: #f98688;
  --orange: #f9c386;
  --yellow: #f9f186;
  --green: #bdf986;
  --blue: #86f9ed;
  --indigo: #bb86f9;
  --purple: #e786f9;
}

html[data-theme="navy-pumpkin"] {
  --primary-bg: #d7d2d0;
  --primary-txt: #141e1f;

  --secondary-color: #b4aaa7;

  --btn-color: #135d62;
  --btn-hover-txt: #d7d2d0;

  --red: #790614;
  --orange: #794b06;
  --yellow: #796a06;
  --green: #167906;
  --blue: #065c79;
  --indigo: #380679;
  --purple: #5c0679;
}

html[data-theme="navy-pumpkin"] {
  --primary-bg: #d7d2d0;
  --primary-txt: #141e1f;

  --secondary-color: #b4aaa7;

  --btn-color: #135d62;
  --btn-hover-txt: #d7d2d0;

  --red: #790614;
  --orange: #794b06;
  --yellow: #796a06;
  --green: #167906;
  --blue: #065c79;
  --indigo: #380679;
  --purple: #5c0679;
}

html[data-theme="firetruck-denim"] {
  --primary-bg: #9999a8;
  --primary-txt: #17191c;

  --secondary-color: #717184;

  --btn-color: #450d1b;
  --btn-hover-txt: #9999a8;

  --red: #79060a;
  --orange: #794706;
  --yellow: #795e06;
  --green: #0a7906;
  --blue: #064d79;
  --indigo: #0e0679;
  --purple: #700679;
}

html[data-theme="banana-lilac"] {
  --primary-bg: #cfc9cf;
  --primary-txt: #1a151e;

  --secondary-color: #aba0ab;

  --btn-color: #584e22;
  --btn-hover-txt: #cfc9cf;

  --red: #79060c;
  --orange: #793a06;
  --yellow: #6a7906;
  --green: #067918;
  --blue: #062779;
  --indigo: #210679;
  --purple: #710679;
}

html[data-theme="nebula-royal"] {
  --primary-bg: #b2a9ac;
  --primary-txt: #13201f;

  --secondary-color: #8e8085;

  --btn-color: #2b2258;
  --btn-hover-txt: #b2a9ac;

  --red: #790610;
  --orange: #793a06;
  --yellow: #797306;
  --green: #4d7906;
  --blue: #067962;
  --indigo: #1f0679;
  --purple: #730679;
}

html[data-theme="firetruck-denim"] {
  --primary-bg: #b8b8c7;
  --primary-txt: #1a1e15;

  --secondary-color: #8d8ea5;

  --btn-color: #561a27;
  --btn-hover-txt: #b8b8c7;

  --red: #79061a;
  --orange: #792b06;
  --yellow: #797306;
  --green: #067919;
  --blue: #064579;
  --indigo: #2d0679;
  --purple: #5e0679;
}

html[data-theme="iris-navy"] {
  --primary-bg: #cbccd7;
  --primary-txt: #161d1b;

  --secondary-color: #a0a1b6;

  --btn-color: #2f1a51;
  --btn-hover-txt: #cbccd7;

  --red: #79061a;
  --orange: #794206;
  --yellow: #797906;
  --green: #1b7906;
  --blue: #062f79;
  --indigo: #1b0679;
  --purple: #770679;
}

html[data-theme="citrus-lilac"] {
  --primary-bg: #c8c1c3;
  --primary-txt: #161d18;

  --secondary-color: #a4989c;

  --btn-color: #6c341e;
  --btn-hover-txt: #c8c1c3;

  --red: #790614;
  --orange: #794206;
  --yellow: #777906;
  --green: #147906;
  --blue: #061079;
  --indigo: #3e0679;
  --purple: #450679;
}

html[data-theme="cheese-banana"] {
  --primary-bg: #b9b6a2;
  --primary-txt: #161d1b;

  --secondary-color: #989376;

  --btn-color: #684627;
  --btn-hover-txt: #b9b6a2;

  --red: #790618;
  --orange: #794006;
  --yellow: #797706;
  --green: #4f7906;
  --blue: #067944;
  --indigo: #0a0679;
  --purple: #5b0679;
}

html[data-theme="navy-bumblebee"] {
  --primary-bg: #dad9c8;
  --primary-txt: #1b2013;

  --secondary-color: #bbb99b;

  --btn-color: #1c3c5e;
  --btn-hover-txt: #dad9c8;

  --red: #79060a;
  --orange: #793e06;
  --yellow: #797506;
  --green: #06791d;
  --blue: #067962;
  --indigo: #0c0679;
  --purple: #5e0679;
}

html[data-theme="aqua-lotus"] {
  --primary-bg: #3a2c32;
  --primary-txt: #c2c8d6;

  --secondary-color: #664d58;

  --btn-color: #afb0ef;
  --btn-hover-txt: #3a2c32;

  --red: #f9869f;
  --orange: #f9aa86;
  --yellow: #def986;
  --green: #8af986;
  --blue: #86b2f9;
  --indigo: #9386f9;
  --purple: #f186f9;
}

html[data-theme="regal-iris"] {
  --primary-bg: #474658;
  --primary-txt: #cad7c1;

  --secondary-color: #696882;

  --btn-color: #b48ed2;
  --btn-hover-txt: #474658;

  --red: #f98693;
  --orange: #f9d086;
  --yellow: #e9f986;
  --green: #d8f986;
  --blue: #86f9e7;
  --indigo: #b286f9;
  --purple: #e486f9;
}

html[data-theme="butter-regal"] {
  --primary-bg: #2e2531;
  --primary-txt: #d0d4c4;

  --secondary-color: #57465d;

  --btn-color: #d5b167;
  --btn-hover-txt: #2e2531;

  --red: #f986a1;
  --orange: #f9cf86;
  --yellow: #e5f986;
  --green: #9bf986;
  --blue: #86c5f9;
  --indigo: #9f86f9;
  --purple: #ef86f9;
}

html[data-theme="emerald-lavender"] {
  --primary-bg: #252432;
  --primary-txt: #dad4be;

  --secondary-color: #45455f;

  --btn-color: #caebbc;
  --btn-hover-txt: #252432;

  --red: #f986a1;
  --orange: #f9b286;
  --yellow: #f3f986;
  --green: #a6f986;
  --blue: #86edf9;
  --indigo: #b286f9;
  --purple: #e486f9;
}

html[data-theme="blueberry-navy"] {
  --primary-bg: #353f50;
  --primary-txt: #d5c3c3;

  --secondary-color: #54647d;

  --btn-color: #b8c2ea;
  --btn-hover-txt: #353f50;

  --red: #f9869b;
  --orange: #f9b486;
  --yellow: #f9f186;
  --green: #d8f986;
  --blue: #86acf9;
  --indigo: #bd86f9;
  --purple: #cd86f9;
}

html[data-theme="sky-iris"] {
  --primary-bg: #423b4e;
  --primary-txt: #d9cdbf;

  --secondary-color: #675c7a;

  --btn-color: #a5cae9;
  --btn-hover-txt: #423b4e;

  --red: #f986a1;
  --orange: #f9bd86;
  --yellow: #e2f986;
  --green: #86f9bb;
  --blue: #8688f9;
  --indigo: #b086f9;
  --purple: #f386f9;
}

html[data-theme="ruby-blood"] {
  --primary-bg: #433937;
  --primary-txt: #dbd1bd;

  --secondary-color: #6d5c5a;

  --btn-color: #d36964;
  --btn-hover-txt: #433937;

  --red: #f9869d;
  --orange: #f9bf86;
  --yellow: #f9f786;
  --green: #b2f986;
  --blue: #86bff9;
  --indigo: #b486f9;
  --purple: #e586f9;
}

html[data-theme="sunset-grape"] {
  --primary-bg: #30222b;
  --primary-txt: #c7d2c6;

  --secondary-color: #5c4253;

  --btn-color: #e2c3b6;
  --btn-hover-txt: #30222b;

  --red: #f98686;
  --orange: #f9bb86;
  --yellow: #f9e486;
  --green: #9ff986;
  --blue: #86d6f9;
  --indigo: #8c86f9;
  --purple: #f986f9;
}
